/*Home-page-Start-fdev-sg*/
/*footer-fdev-sg*/
.footer-wrap {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.container-fluid.container-gap {
padding: 0 200px;
}
.social-icons li {
display: inline-block;
padding-right: 6px;
}
.footer-heading {
font-family: var(--ff-heading);
font-size: 20px;
font-weight: 600;
color: var(--c-white);
text-transform: uppercase;
position: relative;
}
.footer-heading::after {
position: absolute;
content: '';
background-color: var(--c-primary);
width: 22px;
height: 3px;
bottom: -20px;
left: 0;
}
.footer-content p {
font-family: var(--ff-primary);
font-size: 17px;
font-weight: 400;
line-height: 37px;
color: var(--c-primary-light);
margin-top: 46px;
}
.social-icons {
margin-top: 24px;
}
.teratment-list li {
padding-bottom: 15px;
}
.teratment-list {
margin-top: 52px;
}
.teratment-list li a {
font-family: var(--ff-primary);
font-size: 17px;
font-weight: 400;
color: var(--c-primary-light);
text-decoration: none;
transition:all 0.3s ease-in-out;
}
.teratment-list li a:hover {
color: var(--c-primary);
}
.footer-content .contact-list {
margin-top: 52px;
}
.footer-content .contact-list li {
padding-bottom: 15px;
position: relative;
padding-left: 30px;
}
.footer-content .contact-list li a {
font-family: var(--ff-primary);
font-size: 17px;
font-weight: 400;
color: var(--c-primary-light);
text-decoration: none;
transition:all 0.3s ease-in-out;
}
.footer-content .contact-list li a:hover {
color: var(--c-primary);   
}
.footer-content .contact-list li a span {
position: absolute;
left:0;
display: inline-block;
color:var(--c-primary);
font-size: 18px;
}
.copyright {
text-align: center;
border-top: 2px solid var(--c-primary-text);
margin-top: 32px;
}
.copyright p {
font-family: var(--ff-primary);
font-size: 15px;
font-weight: 500;
color: var(--c-primary-light);
padding: 34px 0;
}
.footer-wrap.custom-pad {
padding: 110px 0 0;
}
.footer-header.py-xl-3.py-2 .container-fluid {
padding: 0 0;
}
.footer-header.py-xl-3.py-2 .nav-link.active {
font-family: var(--ff-heading);
font-size: 16px;
font-weight: 600;
color: var(--c-primary-light);
text-transform: uppercase;
padding-right: 0px;
transition: 0.3s ease-in-out;
}
.footer-header.py-xl-3.py-2 .nav-link.active:hover {
color:var(--c-primary)
}
.footer-header.py-xl-3.py-2 .nav-link {
font-family: var(--ff-heading);
font-size: 16px;
font-weight: 600;
color: var(--c-primary-light);
text-transform: uppercase;
padding-left: 64px;
transition: 0.3s ease-in-out;
}
.footer-header.py-xl-3.py-2 .nav-link:hover {
color:var(--c-primary)
}
.footer-header.py-xl-3.py-2 {
margin-top: 78px;
}
/*footer-fdev-sg*/
/*contact-form-fdev-sg*/
.contact-form.custom-pad .custom-heading {
text-align: center;
}
.contact-form .form-control {
border-radius: 0;
padding: 20px 20px;
margin-bottom: 20px;
font-family: var(--ff-primary);
font-size: 14px;
font-weight: 400;
background-color: var(--c-grey);
}
.contact-form #formGroupExampleInput2 {
padding: 20px 20px 195px;
background-color: var(--c-grey);
}
.contact-form .form-btn {
text-align: center;
margin-top: 40px;
}
.contact-form .custom-heading h6 {
padding: 0 320px;
line-height: 30px;
}
/*contact-form-fdev-sg*/
/*Testimonial-fdev-sg*/
.client-img li {
display: inline-block;
vertical-align: middle;
padding-right: 20px;
}
.client-img li h4 {
font-family: var(--ff-heading);
font-size: 19px;
font-weight: 700;
color: var(--f-primary-heading);
}
.client-img li h5 {
font-family: var(--ff-primary);
font-size: 13px;
font-weight: 500;
color: var(--c-primary-text);
margin-top: 5px;
}
.quote {
position: absolute;
top: 30px;
right: 30px;
}
.quote img {
width: 100% !important;
}
.testimonial-box {
position: relative;
padding: 32px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
background-color: var(--c-white);
}
.testimonial-box p {
font-size: 15px;
color: var(--c-primary-text);
line-height: 33px;
font-weight: 400;
font-family: var(--ff-primary);
font-style: italic;
border-top: 1px solid var(--c-primary-light);
margin-top: 20px;
padding-top: 28px;
}
.testimonial-content .item {
padding: 10px 15px;
}
/*.testimonial .owl-dots {
text-align: center;
padding-top: 50px;
}
.owl-carousel .owl-dots.disabled {
display: block;
}*/
.testimonial.custom-pad {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.testimonial.custom-pad .custom-heading {
text-align: center;
}
.testimonial.custom-pad .custom-heading h3 {
padding: 0 350px;
line-height: 58px;
}
.testimonial.custom-pad .owl-dot.active span {
background-color: var(--c-primary);
height: 30px;
width: 7px;
display: inline-block;
border-radius: 50px;
transition: all 0.2s ease-in-out;
}
.testimonial.custom-pad  .owl-dot span {
background-color: var(--c-primary-text);
height: 7px;
width: 7px;
display: inline-block;
border-radius: 50px;
margin: 0 8px;
}
.testimonial.custom-pad  .owl-dots {
text-align: center;
margin-top: 20px;
}
/*Testimonial-fdev-sg*/
/*service-fdev-sg*/
.service-box {
background-color: var(--c-white);
box-shadow: 0 0 10px rgba(0,0,0,0.2);
min-height: 370px;
margin-top: 90px;
}
.service.custom-pad .custom-heading {
margin-bottom: 0px;
}
.service-box-top-txt {
padding: 30px;
}
.service-box-bottom-txt {
padding: 30px;
border-top: 1px solid var(--c-primary-light);
}
.service-box-top-txt img {
height: 70px;
}
.service-box-top-txt h4 {
font-family: var(--ff-heading);
font-size: 18px;
font-weight: 600;
color: var(--f-primary-heading);
text-transform: uppercase;
margin-top: 20px;
}
.service-box-bottom-txt p {
font-size: 16px;
color: var(--c-primary-text);
line-height: 30px;
font-weight: 400;
font-family: var(--ff-primary);
margin-bottom: 20px;
}
.service-box-bottom-txt a {
text-decoration: none;
color: var(--c-primary);
font-family: var(--ff-heading);
font-size: 14px;
font-weight: 600;
text-transform: uppercase;
transition: all 0.2s ease-in-out;
}
.service-box-bottom-txt a span {
padding-left: 6px;
}
.service-box-bottom-txt a:hover {
color:var(--c-primary-text);
}
.service-head-text p {
font-family: var(--ff-primary);
font-size: 16px;
font-weight: 400;
color: var(--c-primary-text);
line-height: 30px;
padding: 0 80px;
}
.service-head-text::before {
position: absolute;
content: '';
background-color: var(--c-primary-light);
width: 1px;
height: 65px;
}
.service-head-text {
position: relative;
}
/*service-fdev-sg*/
/*client-video-fdev-sg*/
.client-video {
background-color: #222d35;
position: relative;
}
.client-video-content h2 {
font-family: var(--ff-heading);
font-size: 44px;
font-weight: 700;
color: var(--c-white);
text-transform: capitalize;
line-height: 56px;
}
.client-video-content p {
font-size: 18px;
color: var(--c-primary-light);
line-height: 38px;
font-weight: 400;
font-family: var(--ff-primary);
margin-top: 15px;
}
.client-video-button {
margin-top: 40px;
}
.client-video-content {
padding: 0px 42% 86px 240px;
position: relative;
}
.client-video-content::after {
position: absolute;
content: '';
background-color: var(--c-primary);
width: 100%;
height: 102px;
bottom: -110px;
left: -19%;
}
.video-modal .btn {
padding: 40px 45px;
font-size: 2rem;
}
.video-modal .btn.btn-primary {
background-color: var(--c-primary);
border-color: var(--c-primary);
}
.video-modal .btn.btn-primary {
position: absolute;
top: 40%;
right: 0px;
left: 35%;
margin: 0 auto;
}
.client-video-img img {
position: absolute;
top: 0;
right: 0;
height: 799px;
object-fit: cover;
}
.client-video .modal-dialog {
max-width: 90%;
}
.client-video .modal-content {
height: 100vh;
}
.client-video  iframe {
width: 100%;
height: 95vh;
}
.client-video .modal-body {
width: 100%;
}
.client-video .modal-header {
position: absolute;
right: 0;
z-index: 5;
background-color: var(--c-primary);
border-radius: 0;
border-bottom: 1px solid transparent;
}
.client-video .modal-header .btn-close {
padding: 0rem 0rem;
margin: 0rem 0rem 0rem auto;
color: var(--c-white);
}
/*client-video-fdev-sg*/
/*Home-page-End-fdev-sg*/
/*Responsive-Start-fdev-sg*/
@media (min-width: 1850px) and (max-width: 2500px){

}
@media (min-width: 1800px) and (max-width: 1850px){
.container-fluid.container-gap {padding: 0 150px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 70vh;}
.client-video iframe {height: 67vh;}
}
@media (min-width: 1700px) and (max-width: 1800px){
.container-fluid.container-gap {padding: 0 100px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 70vh;}
.client-video iframe {height: 67vh;}
.client-video-img img {width: 34%;}
.client-video-content {padding: 0px 42% 86px 220px;}
}
@media (min-width: 1600px) and (max-width: 1700px){
.container-fluid.container-gap {padding: 0 50px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 70vh;}
.client-video iframe {height: 67vh;}
.client-video-img img {width: 34%;}
.client-video-content {padding: 0px 42% 86px 160px;}
.service-box-top-txt h4 {font-size: 16px;}
.testimonial.custom-pad .custom-heading h3 {padding: 0 330px;}
.contact-form .custom-heading h6 {padding: 0 240px;}
.footer-header.py-xl-3.py-2 .nav-link.active {font-size: 14px;}
.footer-header.py-xl-3.py-2 .nav-link {font-size: 14px;}
.service-head-text p {padding: 0 20px;}
}

@media (min-width: 1366px) and (max-width: 1600px){
.container-fluid.container-gap {padding: 0 50px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 70vh;}
.client-video iframe {height: 67vh;}
.client-video-img img {width: 34%;height: 767px;}
.client-video-content {padding: 0px 42% 86px 60px;}
.service-box-top-txt h4 {font-size: 16px;}
.testimonial.custom-pad .custom-heading h3 {padding: 0 330px;}
.contact-form .custom-heading h6 {padding: 0 230px;}
.footer-header.py-xl-3.py-2 .nav-link.active {font-size: 14px;}
.footer-header.py-xl-3.py-2 .nav-link {font-size: 14px;}
.service-head-text p {padding: 0 20px;}
.client-video-content p {font-size: 16px;}
.client-video-content h2 {font-size: 38px;line-height: 50px;}
.service-head-text p {font-size: 14px;}
.footer-content p {font-size: 14px;}
.teratment-list li a {font-size: 14px;}
.footer-content .contact-list li a {font-size: 14px;}
.footer-content iframe {width: 400px;}
.footer-header.py-xl-3.py-2 .nav-link {padding-left: 40px;}
.footer-header.py-xl-3.py-2 .navbar-brand.ms-0.py-0 img {height: 35px;}
.footer-header.py-xl-3.py-2 {margin-top: 58px;}
.copyright {margin-top: 22px;}
.copyright p {padding: 20px 0;}
.service-box-bottom-txt p {font-size: 15px;}
}

@media (min-width: 1200px) and (max-width: 1366px){	

}

@media (min-width: 1024px) and (max-width: 1200px){

}

@media (min-width: 992px) and (max-width: 1024px) {

}

@media only screen and (max-width: 991.98px) {    

}


@media (max-width: 767.98px){

}

@media (max-width: 575.98px){

}

@media only screen and (max-width: 480.98px) {	

}
/*Responsive-End-fdev-sg*/