/* ==========================Header Start==================== */

/* -------Header Top start-------- */
.header-top {
    background-color:var(--c-grey);
    padding: 10px 0;
  }
  .header-top a{
    margin: 0;
  }
  .header-top-col-wrap a {
    display: flex;
    align-items: center;
   
  }
  .header-top-col-wrap a span {
    margin: 0 6px 0 0;
    font-size: 18px;
    
  }
  .header-top-col-wrap a p{
    font-size:14px;
    color: var(--c-primary-text);
    line-height: 16px;
  }
/* -------Header Top end-------- */
/* -------Header Middle start-------- */
.header-middle {
    border-bottom: 1px solid #e2e2e2;
    padding: 28px 0;
  }
  .desktop-website-logo a img {
    height: 45px;
    object-fit: contain;
  }
  /* -------Header Middle End-------- */
  /* -------Header bottom start-------- */
  .header-btm {
    padding: 20px 0;
  }
  .custom-header-navbar ul.navbar-nav li a {
    color: #424242;
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--ff-heading);
    font-weight: 500;
    padding: 0 !important;
  }
  .custom-header-navbar ul.navbar-nav li {
    margin: 0 17px;
  }
  .header-btm .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .custom-header-navbar .dropdown-menu {
    background-color: var(--c-primary);
  }
  .custom-header-navbar .dropdown-menu li a{
    color: var(--c-white) !important;
    padding: 10px 0 !important;
  }
  .custom-header-navbar .dropdown-menu li{
    padding: 6px 0 !important;
  }
  .custom-header-navbar .dropdown-menu li a:hover{
    background-color: transparent;
    color: var(--c-primary-light) !important;
  }
  /* -------Header bottom end-------- */

  /* ==========================Header End==================== */

  /* ==========================Custom Banner Start================== */

  .custom-caption h2 {
    font-size: 64px;
    font-weight: 800;
    line-height: 82px;
  }
  .custom-caption h2 span {
    font-weight: 300;
    display: block;
  }
  .custom-caption p {
    font-size: 20px;
    color: var(--c-white);
    margin: 26px 0 42px;
  }
  .custom-caption {
    left: 0;
    right: 0;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .custom-caption .custom-button:hover{
    color: var(--c-white);
  }
/* ==========================Custom Banner End================== */

/* ==========================Custom About Start================== */
.custom-about p {
    font-size: 21px;
    color: var(--c-primary-text);
    line-height: 48px;
    margin-top: -16px;
  }


/* ==========================Custom About End================== */

/* ==========================Custom Offer Start================== */
.custom-offer {
    background-color: #f7f7ff;
  }
  .custom-offer .custom-heading h3 {
    margin-bottom: 26px;
  }
  .custom-offer .custom-heading{
    margin-bottom: 80px;
  }
  .offer-card-wrap {
    text-align: center;
    margin-bottom: 66px;
    padding: 0 50px;
  }
  .offer-card-icon {
    margin-bottom: 20px;
  }
  .offer-card-icon img {
    height: 90px;
    object-fit: contain;
  }
  .offer-card-content h4 {
    color: #3a3a3a;
    margin-bottom: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
  }
  .offer-card-content p {
    font-size: 15px;
    color: var(--c-primary-text);
    line-height: 26px;
  }
  .custom-offer.custom-pad {
    padding-bottom: 180px;
  }
/* ==========================Custom Offer End================== */

/* ===========================Custom Experience====================  */

.custom-exp {
  padding-bottom: 120px;
  position: relative;
  z-index: 9;
}
.exp-img-content {
  background-color: var(--c-primary);
  text-align: center;
  padding: 36px 0;
  width: 177px;
  margin-left: 0;
  position: relative;
  z-index: 1;
  margin-top: -35px;
}
.exp-img-content h1 {
  font-size: 28px;
  font-weight: 800;
  margin-top: 14px;
}
.exp-img-content h1 span {
  display: block;
  font-size: 15px;
  font-family: var(--ff-primary);
  color: var(--c-white);
  width: 70%;
  font-weight: 400;
  margin-top: 12px;
  line-height: 25px;
}
.cus-exp-imgs-wrap {
  position: relative;
  z-index: 9;
}
.exp-img-1 {
  position: absolute;
  top: -95px;
  z-index: 0;
  left: 80px;
}
.exp-img-2 {
  position: relative;
  z-index: 2;
  text-align: center;
}
.exp-img-2 img {
  border: 10px solid var(--c-white);
}
.custom-exp-content {
  position: relative;
  z-index: 9;
  padding-top: 52px;
  background-color: #fff;
  padding-left: 60px;
}
.custom-exp-content .custom-heading h3 {
  width: 80%;
  margin-left: 0;
  line-height: 56px;
}
.custom-exp-content .custom-heading {
  margin-bottom: 34px;
}
.custom-exp-content p {
  color: var(--c-primary-text);
  margin-bottom: 22px;
}
/* .custom-exp-content::after {
  content: '';
  position: absolute;
  left: -60px;
  top: 0;
  width: 100%;
  background-color: var(--c-white);
  height: 100%;
  z-index: -1;
} */
.exp-img-1 img {
  width: 125%;
  height: 655px;
  object-fit: cover;
}
.exp-img-2 img {
  width: 68%;
  margin-left: 100px;
  margin-top: 172px;
}
.custom-exp-content .custom-button {
  margin-top: 34px;
}

















@media (min-width: 1920px) and (max-width: 2500px){
	
}
@media (min-width: 1600px) and (max-width: 1920px){
	
}

@media (min-width: 1366px) and (max-width: 1600px){
.custom-header-navbar ul.navbar-nav li {margin: 0 9px;}
.custom-banner .carousel-item img {height: 590px;object-fit: cover;}
}

@media (min-width: 1200px) and (max-width: 1366px){	
    .custom-header-navbar ul.navbar-nav li {margin: 0 9px;}
    .custom-header-navbar ul.navbar-nav li a {font-size: 11px;}
    .custom-banner .carousel-item img {height: 590px;object-fit: cover;}
}

@media (min-width: 1024px) and (max-width: 1200px){
    .custom-header-navbar ul.navbar-nav li {margin: 0 9px;}
    .custom-header-navbar ul.navbar-nav li a {font-size: 11px;}
    .custom-banner .carousel-item img {height: 590px;object-fit: cover;}
}

@media (min-width: 992px) and (max-width: 1024px) {
    .custom-header-navbar ul.navbar-nav li {margin: 0 9px;}
    .custom-header-navbar ul.navbar-nav li a {font-size: 11px;}
    .custom-banner .carousel-item img {height: 590px;object-fit: cover;}
}

@media only screen and (max-width: 991.98px) {    
    .custom-header-navbar .navbar-nav {background-color: var(--c-primary);padding: 20px;
        margin-top: 6px !important;}
    .custom-header-navbar ul.navbar-nav li a {color: #fff;padding: 10px 0 !important;     border-bottom: 1px dashed #f1f1f1;font-size: 15px;}
    .custom-header-navbar ul.navbar-nav li:last-child a{border-bottom: 0;}
    .custom-banner .carousel-item img {height: 590px;object-fit: cover;}
    .custom-caption h2 {font-size: 52px;line-height: 58px;}
    .custom-caption p {font-size: 18px;margin: 18px 0 28px;}
    .custom-banner .carousel-item img {height: 420px;}
    
}


@media (max-width: 767.98px){
    .custom-brand img {height: 30px;}
    .custom-caption h2 {font-size: 36px;line-height: 40px;}
    .custom-caption p {font-size: 14px; margin: 10px 0 19px;}
    .custom-banner .carousel-item img {height: 340px;}
}

@media (max-width: 575.98px){
    .header-top-col-wrap a p {display: none;}
    .header-top-col-wrap a span {width: 30px;height: 30px;background-color: var(--c-primary);
        color: var(--c-white);text-align: center;border-radius: 2px;line-height: 31px;}
}

@media only screen and (max-width: 480.98px) {	
    
}
@media only screen and (max-width: 390px) {	
    .custom-brand img {height: 22px;}
}
