/* ==========================Header Start==================== */

/* -------Header Top start-------- */
.header-top {
    background-color:var(--c-grey);
    padding: 10px 0;
  }
  .header-top a{
    margin: 0;
  }
  .header-top-col-wrap a {
    display: flex;
    align-items: center;
   
  }
  .header-top-col-wrap a span {
    margin: 0 6px 0 0;
    font-size: 18px;
    
  }
  .header-top-col-wrap a p{
    font-size:14px;
    color: var(--c-primary-text);
    line-height: 16px;
  }
/* -------Header Top end-------- */
/* -------Header Middle start-------- */
.header-middle {
    border-bottom: 1px solid #e2e2e2;
    padding: 28px 0;
  }
  .desktop-website-logo a img {
    height: 45px;
    object-fit: contain;
  }
  /* -------Header Middle End-------- */
  /* -------Header bottom start-------- */
  .header-btm {
    padding: 20px 0;
  }
  .custom-header-navbar ul.navbar-nav li a {
    color: #424242;
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--ff-heading);
    font-weight: 500;
    padding: 0 !important;
  }
  .custom-header-navbar ul.navbar-nav li {
    margin: 0 17px;
  }
  .header-btm .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .custom-header-navbar .dropdown-menu {
    background-color: var(--c-primary);
  }
  .custom-header-navbar .dropdown-menu li a{
    color: var(--c-white) !important;
    padding: 10px 0 !important;
  }
  .custom-header-navbar .dropdown-menu li{
    padding: 6px 0 !important;
  }
  .custom-header-navbar .dropdown-menu li a:hover{
    background-color: transparent;
    color: var(--c-primary-light) !important;
  }
  /* -------Header bottom end-------- */



  /* ==========================Header End==================== */









































@media (min-width: 1920px) and (max-width: 2500px){
	
}
@media (min-width: 1600px) and (max-width: 1920px){
	
}

@media (min-width: 1366px) and (max-width: 1600px){

}

@media (min-width: 1200px) and (max-width: 1366px){	

}

@media (min-width: 1024px) and (max-width: 1200px){

}

@media (min-width: 992px) and (max-width: 1024px) {

}

@media only screen and (max-width: 991.98px) {    

}


@media (max-width: 767.98px){

}

@media (max-width: 575.98px){

}

@media only screen and (max-width: 480.98px) {	
    
}

