@charset "utf-8";
/* CSS Document */

@media (min-width: 1920px) and (max-width: 2500px){

}
@media (min-width: 1800px) and (max-width: 1850px) {
/*========fdev-sg-Start==========*/
.container-fluid.container-gap {padding: 0 150px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 70vh;}
.client-video iframe {height: 67vh;}
/*========fdev-sg-End==========*/
}
@media (min-width: 1700px) and (max-width: 1800px) {
/*========fdev-sg-Start==========*/
.container-fluid.container-gap {padding: 0 100px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 70vh;}
.client-video iframe {height: 67vh;}
.client-video-img img {width: 34%;}
.client-video-content {padding: 0px 42% 86px 220px;}
/*========fdev-sg-End==========*/
}
@media (min-width: 1600px) and (max-width: 1700px) {
/*========fdev-sg-Start==========*/
.container-fluid.container-gap {padding: 0 50px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 60vh;}
.client-video iframe {height: 57vh;}
.client-video-img img {width: 34%;}
.client-video-content {padding: 0px 42% 86px 160px;}
.service-box-top-txt h4 {font-size: 16px;}
.testimonial.custom-pad .custom-heading h3 {padding: 0 330px;}
.contact-form .custom-heading h6 {padding: 0 240px;}
.service-head-text p {padding: 0 20px;}
.service-box-top-txt {padding: 30px 35px;}
.service-box-bottom-txt {padding: 30px 35px;}
.quote {right: 10px;}
.understanding-ketamine-box-content {min-height: 540px;}
/*========fdev-sg-End==========*/
}
@media (min-width: 1600px) and (max-width: 1920px){

}

@media (min-width: 1366px) and (max-width: 1600px){
.container {max-width: 1200px;}
.custom-heading h3 {font-size: 38px;}
p {font-size: 16px; line-height: 30px;}
/*========fdev-dp-Start==========*/
.custom-header-navbar ul.navbar-nav li {margin: 0 9px;}
.custom-banner .carousel-item img {height: 590px;object-fit: cover;}
/*========fdev-dp-End==========*/
/*========fdev-sg-Start==========*/
.container-fluid.container-gap {padding: 0 50px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 60vh;}
.client-video iframe {height: 57vh;}
.client-video-img img {width: 34%;}
.client-video-content {padding: 0px 44% 86px 60px;}
.service-box-top-txt h4 {font-size: 16px;}
.testimonial.custom-pad .custom-heading h3 {padding: 0 250px;}
.contact-form .custom-heading h6 {padding: 0 230px;}
.service-head-text p {padding: 0 20px;}
.client-video-content p {font-size: 16px;}
.client-video-content h2 {font-size: 38px;line-height: 50px;}
.service-head-text p {font-size: 16px;}
.footer-content p {font-size: 14px;}
.teratment-list li a {font-size: 14px;}
.footer-content .contact-list li a {font-size: 14px;}
.footer-content iframe {width: 400px;}
.copyright {margin-top: 22px;}
.copyright p {padding: 20px 0;}
.service-box-bottom-txt p {font-size: 15px;}
.video-modal .btn {padding: 30px 40px;}
.footer-list li {padding-left: 50px;}
.footer-list li a {font-size: 14px;}
.footer-header {margin-top: 78px;}
.service-box-top-txt {padding: 30px 30px;}
.service-box-bottom-txt {padding: 30px 30px;}
.quote {right: 10px;}
.why-choose-card-content {min-height: 420px;}
.why-choose-text.why-ketamine-main {padding: 0 20px;}
.why-choose-text.deep-tms p {padding: 20px;}
.contact-location-content h4 {font-size: 22px;}
.contact-location-content h4::after {height: 3px;}
.understanding-ketamine-box-content {min-height: 520px;}
.understanding-ketamine-box-content ul li {padding: 8px 0;}
.understanding-ketamine-text {padding: 0 60px 0 0;}
.contact-location-content {min-height: 235px;}
/*========fdev-sg-End==========*/
}

@media (min-width: 1200px) and (max-width: 1366px){	
.custom-pad {padding:90px 0;}
.container {max-width: 1170px;}
.custom-heading h3 {font-size: 35px;}
.custom-heading h6 {margin-top: 18px;}
.custom-heading {margin-bottom: 40px;}
.custom-button.border-btn {padding: 15px 50px;}
p {font-size: 16px; line-height: 30px;}
/*========fdev-dp-Start==========*/
.custom-header-navbar ul.navbar-nav li {margin: 0 9px;}
.custom-header-navbar ul.navbar-nav li a {font-size: 11px;}
.custom-banner .carousel-item img {height: 590px;object-fit: cover;}
/*========fdev-dp-End==========*/
/*========fdev-sg-Start==========*/
.container-fluid.container-gap {padding: 0 50px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 53vh;}
.client-video iframe {height: 50vh;}
.client-video-img img {width: 34%;}
.client-video-content {padding: 0px 42% 59px 40px;}
.testimonial.custom-pad .custom-heading h3 {padding: 0px 260px;line-height: 54px;}
.contact-form .custom-heading h6 {padding: 0 100px;}
.service-head-text p {padding: 0 20px;font-size: 15px;}
.client-video-content p {font-size: 14px;}
.client-video-content h2 {font-size: 35px;line-height: 50px;}
.footer-content p {font-size: 14px;}
.teratment-list li a {font-size: 14px;}
.footer-content .contact-list li a {font-size: 14px;}
.footer-content iframe {width: 350px;}
.copyright {margin-top: 22px;}
.copyright p {padding: 15px 0;}
.service-box-bottom-txt p {font-size: 14px;}
.video-modal .btn {padding: 30px 40px;}
.service-head-text::before {height: 85px;}
.service-box {min-height: 330px;margin-top: 60px;}
.client-img li h4 {margin-top: 12px;}
.testimonial-box {padding: 25px;}
.testimonial-box p {font-size: 13px;}
.copyright p {font-size: 12px;}
.footer-heading {font-size: 17px;}
.client-video::after {height: 80px;}
.quote {right: 10px;}
.footer-list li {padding-left: 40px;}
.footer-list li a {font-size: 14px;}
.footer-header {margin-top: 65px;}
.footer-list.img a img {height: 28px;}
.footer-content.footer-4 {padding-left: 30px;}
.footer-wrap.custom-pad {padding: 100px 0 0;}
.service-box-top-txt {padding: 20px 20px;}
.service-box-bottom-txt {padding: 20px 20px;}
.quote {right: 10px;}
.service-box-top-txt h4 {font-size: 14px;}
.why-choose-card-content {min-height: 370px;}
.why-choose-text p {padding: 0 20px;}
.why-choose-card-content {padding: 30px;}
.why-choose-card-content h4 {font-size: 26px;padding-bottom: 30px;}
.why-choose-card.cutom-pad {padding: 90px 0;}
.why-choose-text.why-ketamine-main {padding: 0 20px;}
.ketamine-chart p {padding: 0 30px;}
.faq-content .accordion-body {line-height: 30px;}
.why-choose-text.deep-tms p {padding: 20px;}
.contact-location-content h4 {font-size: 20px;}
.contact-location-content h4::after {height: 3px;}
.contact-location-content .location-content-list li a {font-size: 15px;}
.understanding-ketamine-box-content {min-height: 500px;}
.understanding-ketamine-box-content ul li {padding: 8px 0;}
.understanding-ketamine-text {padding: 0 60px 0 0;}
.understanding-ketamine-box-content ul {padding: 10px 20px 0;}
.understanding-ketamine-box-content h4 {font-size: 20px;padding: 16px 0;}
.short-services ul li a {font-size: 15px;}
.understanding-ketamine-text .custom-heading {margin-bottom: 40px;}
.contact-location-content {min-height: 230px;}
/*========fdev-sg-End==========*/
}

@media (min-width: 1024px) and (max-width: 1200px){
.custom-pad {padding:80px 0;}
.container {max-width: 1000px;}
.custom-heading h3 {font-size: 32px;}
.custom-heading h6 {margin-top: 18px;}
.custom-heading {margin-bottom: 40px;}
.custom-button.border-btn {padding: 15px 50px;}
p {font-size: 14px; line-height: 26px;}
/*========fdev-dp-Start==========*/
.custom-header-navbar ul.navbar-nav li {margin: 0 9px;}
.custom-header-navbar ul.navbar-nav li a {font-size: 11px;}
.custom-banner .carousel-item img {height: 590px;object-fit: cover;}
.offer-card-content h4 {font-size: 16px;}
.offer-card-wrap {padding: 0 10px;}
.exp-img-1 img {width: 138%;}
.exp-img-2 img {width: 68%;margin-top: 102px;margin-left: 50px;}
.custom-exp-content {padding-top: 30px;padding-left: 30px;}
.custom-inner-banner {padding: 80px 0;}
.custom-inner-about-left-img {width: 50%;}
.custom-inner-about-left-content {width: 38%;}
.custom-inner-about-left {margin-bottom: 20px;}
.custom-inner-about {text-align: center;}
.custom-inner-about p {font-size: 16px;}
.custom-exp {padding-bottom: 90px;}
/*========fdev-dp-End==========*/
/*========fdev-sg-Start==========*/
.container-fluid.container-gap {padding: 0 50px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 53vh;}
.client-video iframe {height: 50vh;}
.client-video-img img {width: 34%;}
.client-video-content {padding: 0px 42% 40px 40px;}
.testimonial.custom-pad .custom-heading h3 {padding: 0px 220px;line-height: 46px;}
.contact-form .custom-heading h6 {padding: 0 100px;}
.service-head-text p {padding: 0 20px;font-size: 15px;}
.client-video-content p {font-size: 14px;line-height: 30px;}
.client-video-content h2 {font-size: 32px;line-height: 44px;}
.footer-content p {font-size: 14px;line-height: 30px;}
.teratment-list li a {font-size: 14px;}
.footer-content .contact-list li a {font-size: 14px;}
.footer-content iframe {width: 290px;}
.copyright {margin-top: 22px;}
.copyright p {padding: 15px 0;}
.service-box-bottom-txt p {font-size: 14px;}
.video-modal .btn {padding: 30px 40px;}
.service-head-text::before {height: 85px;}
.service-box {min-height: 330px;margin-top: 60px;}
.client-img li h4 {margin-top: 12px;}
.testimonial-box {padding: 25px;}
.testimonial-box p {font-size: 14px;}
.copyright p {font-size: 12px;}
.footer-heading {font-size: 16px;}
.client-video::after {height: 65px;}
.quote {right: 10px;}
.service-box-bottom-txt a {font-size: 13px;}
.footer-list li {padding-left: 25px;}
.footer-list li a {font-size: 12px;}
.footer-header {margin-top: 65px;}
.footer-list.img a img {height: 28px;}
.testimonial.custom-pad .owl-dots {margin-top: 40px;}
.footer-content.footer-4 {padding-left: 15px;}
.footer-wrap.custom-pad {padding: 90px 0 0;}
.service-box-top-txt {padding: 20px 20px;}
.service-box-bottom-txt {padding: 20px 20px;}
.quote {right: 10px;}
.service-box-top-txt h4 {font-size: 14px;}
.why-choose-card-content {min-height: 360px;}
.why-choose-text p {padding: 0 20px;}
.why-choose-card-content {padding: 30px;}
.why-choose-card-content h4 {font-size: 26px;padding-bottom: 30px;}
.why-choose-card.cutom-pad {padding: 90px 0;}
.why-choose-text.why-ketamine-main {padding: 0 20px;}
.ketamine-chart p {padding: 0 30px;}
.faq-content .accordion-body {line-height: 26px;}
.price-card-content h5 {padding: 15px 0;font-size: 19px;}
.price-card-content h2 {font-size: 45px;padding: 15px 0;}
.price-card-content h6 {font-size: 18px;padding: 30px 0;}
.price-card {min-height: 360px;}
.why-choose-text.deep-tms p {padding: 10px;}
.tms-text-list {padding: 20px 40px;}
.tms-chart-content p {padding: 30px 30px;}
.contact-location-content h4 {font-size: 20px;}
.contact-location-content h4::after {height: 3px;}
.contact-location-content .location-content-list li a {font-size: 15px;}
.contant-form-section.custom-pad .form-btn {padding-top: 15px;}
.understanding-ketamine-box-content {min-height: 430px;}
.understanding-ketamine-box-content ul li {padding: 8px 0;}
.understanding-ketamine-text {padding: 0 20px 0 0;}
.understanding-ketamine-box-content ul {padding: 10px 20px 0;}
.understanding-ketamine-box-content h4 {font-size: 20px;padding: 16px 0;}
.short-services ul li a {font-size: 15px;}
.understanding-ketamine-text .custom-heading {margin-bottom: 30px;}
.contact-location-content {min-height: 220px;}
/*========fdev-sg-End==========*/
}

@media (min-width: 992px) and (max-width: 1024px) {
.custom-pad {padding:80px 0;}
.custom-heading h3 {font-size: 32px;}
.custom-heading h6 {margin-top: 18px;}
.custom-heading {margin-bottom: 40px;}
.custom-button.border-btn {padding: 15px 50px;}
p {font-size: 14px; line-height: 24px;}
.banner-content-wrap h2 {font-size: 48px;}
/*========fdev-dp-Start==========*/
.custom-header-navbar ul.navbar-nav li {margin: 0 9px;}
.custom-header-navbar ul.navbar-nav li a {font-size: 11px;}
.custom-banner .carousel-item img {height: 590px;object-fit: cover;}
.offer-card-content h4 {font-size: 16px;}
.offer-card-wrap {padding: 0 10px;}
.exp-img-1 img {width: 138%;}
.exp-img-2 img {width: 68%;margin-top: 102px;margin-left: 50px;}
.custom-exp-content {padding-top: 30px;padding-left: 30px;}
.custom-offer .custom-heading {margin-bottom: 50px;}
.custom-inner-banner {padding: 80px 0;}
.custom-inner-about-left-img {width: 50%;}
.custom-inner-about-left-content {width: 38%;}
.custom-inner-about-left {margin-bottom: 20px;}
.custom-inner-about {text-align: center;}
.custom-inner-about p {font-size: 16px;}
.custom-exp {padding-bottom: 80px;}
/*========fdev-dp-End==========*/
/*========fdev-sg-Start==========*/
.container-fluid.container-gap {padding: 0 30px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 53vh;}
.client-video iframe {height: 50vh;}
.client-video-img img {width: 34%;}
.client-video-content {padding: 0px 42% 10px 40px;}
.testimonial.custom-pad .custom-heading h3 {padding: 0px 180px;line-height: 46px;}
.contact-form .custom-heading h6 {padding: 0 100px;}
.service-head-text p {padding: 0 20px;font-size: 15px;}
.client-video-content p {font-size: 13px;line-height: 30px;}
.client-video-content h2 {font-size: 32px;line-height: 44px;}
.footer-content p {font-size: 14px;line-height: 30px;}
.teratment-list li a {font-size: 14px;}
.footer-content .contact-list li a {font-size: 14px;}
.footer-content iframe {width: 290px;}
.copyright {margin-top: 22px;border-top: 1px solid var(--c-primary-text);}
.copyright p {padding: 15px 0;}
.service-box-bottom-txt p {font-size: 13px;}
.video-modal .btn {padding: 30px 40px;}
.service-head-text::before {height: 85px;}
.service-box {min-height: 330px;margin-top: 60px;}
.client-img li h4 {margin-top: 12px;}
.testimonial-box {padding: 25px;}
.testimonial-box p {font-size: 14px;}
.copyright p {font-size: 12px;}
.footer-heading {font-size: 16px;}
.client-video::after {height: 60px;}
.quote {right: 10px;}
.service-box-bottom-txt a {font-size: 13px;}
.footer-list li {padding-left: 20px;}
.footer-list li a {font-size: 12px;}
.footer-header {margin-top: 50px;}
.footer-list.img a img {height: 26px;}
.testimonial.custom-pad .owl-dots {margin-top: 40px;}
.footer-content.footer-4 {padding-left: 10px;}
.footer-wrap.custom-pad {padding: 80px 0 0;}
.service-box-top-txt {padding: 20px 20px;}
.service-box-bottom-txt {padding: 20px 20px;}
.quote {right: 10px;}
.service-box-top-txt h4 {font-size: 14px;}
.why-choose-card-content {min-height: 350px;}
.why-choose-text p {padding: 0 20px;}
.why-choose-card-content {padding: 30px;}
.why-choose-card-content h4 {font-size: 26px;padding-bottom: 30px;}
.why-choose-card.cutom-pad {padding: 80px 0;}
.why-choose-text.why-ketamine-main {padding: 0 20px;}
.ketamine-chart p {padding: 0 50px;}
.faq-content .accordion-body {font-size:14px;line-height: 24px;}
.faq-accordion.custom-pad .accordion-button {padding: 1.5rem 1.25rem;}
.faq-content .accordion-button.collapsed {font-size: 17px;}
.faq-content .accordion-button {font-size: 17px;}
.price-card-content h5 {padding: 15px 0;font-size: 19px;}
.price-card-content h2 {font-size: 45px;padding: 15px 0;}
.price-card-content h6 {font-size: 18px;padding: 30px 0;}
.price-card {min-height: 360px;}
.why-choose-text.deep-tms p {padding: 10px;}
.tms-text-list {padding: 20px 40px;}
.tms-chart-content p {padding: 30px 30px;}
.contact-location-content h4 {font-size: 20px;}
.contact-location-content h4::after {height: 3px;}
.contact-location-content .location-content-list li a {font-size: 15px;}
.contant-form-section.custom-pad .form-btn {padding-top: 10px;}
.contact-location-content {min-height: 250px;}
.understanding-ketamine-box-content {min-height: 425px;}
.understanding-ketamine-box-content ul li {padding: 8px 0;}
.understanding-ketamine-text {padding: 0 20px 0 0;}
.understanding-ketamine-box-content ul {padding: 4px 20px 0;}
.understanding-ketamine-box-content h4 {font-size: 17px;padding: 16px 0;}
.short-services ul li a {font-size: 15px;}
.understanding-ketamine-text .custom-heading {margin-bottom: 20px;}
/*========fdev-sg-End==========*/
}

@media only screen and (max-width: 991.98px) {    
.navbar-toggler { float: left;margin: 0; height: 39px; width: 49px; border-radius: 0;z-index: 1}
.navbar-toggler .icon-bar { width: 24px; background: #000;transition: .5s ease;margin-top: 3px;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;border: 2px solid #000;}
.custom-pad {padding:60px 0;}
.custom-heading h3 {font-size: 28px;}
.custom-heading h6 {margin-top: 13px;}
.custom-heading {margin-bottom: 20px;}
.custom-button.border-btn {padding: 14px 44px;font-size: 12px;}
.custom-heading h6 {line-height: 25px;}
p {font-size: 14px; line-height: 26px;}
/*========fdev-dp-Start==========*/
.custom-header-navbar .navbar-nav {background-color: var(--c-primary);padding: 20px;margin-top: 6px !important;}
.custom-header-navbar ul.navbar-nav li a {color: #fff;padding: 10px 0 !important;     border-bottom: 1px dashed #f1f1f1;font-size: 15px;}
.custom-header-navbar ul.navbar-nav li:last-child a{border-bottom: 0;}
.header-btm .dropdown-menu {display: block;background-color: transparent !important;    box-shadow: none !important;border: 0;}
.custom-banner .carousel-item img {height: 590px;object-fit: cover;}
.custom-caption h2 {font-size: 52px;line-height: 58px;}
.custom-caption p {font-size: 18px;margin: 18px 0 28px;}
.custom-banner .carousel-item img {height: 420px;}
.custom-about p {font-size: 18px;line-height: 34px;margin-top: 0px;}
.custom-about {text-align: center;padding-left: 40px;padding-right: 40px;}
.custom-offer .custom-heading {margin-bottom: 40px;}
.exp-img-1 {left: 0;right: 0;width: 70%;}
.exp-img-2 img {width: 80%;margin-left: 0px;margin-top: 20px;}
.custom-exp-content {padding-top: 30px;padding-left: 0px;text-align: center;}
.offer-card-wrap {margin-bottom: 30px;padding: 0 10px;}
.custom-offer.custom-pad {padding-bottom: 150px;}
.exp-img-1 img {width: 100%;height: 520px;}
.custom-exp-content .custom-button {margin-top: 10px;}
.custom-exp-content .custom-heading h3 {width: 100%;margin-left: 0;line-height: 26px;}
.custom-exp-content .custom-heading {margin-bottom: 20px;}
.custom-exp {padding-bottom: 60px;z-index: 9;}
.custom-inner-banner {padding: 80px 0;}
.custom-inner-about-left-img {width: 50%;}
.custom-inner-about-left-content {width: 38%;}
.custom-inner-about-left {margin-bottom: 20px;}
.custom-inner-about {text-align: center;}
.custom-inner-about p {font-size: 16px;}
.custom-expart-keta-img {width: 80%;margin-bottom: 60px;}
.banner-content-wrap h2 {font-size: 46px;}
/*========fdev-dp-End==========*/
/*========fdev-sg-Start==========*/
.container-fluid.container-gap {padding: 0 15px;}
.video-modal .btn.btn-primary {left: 32%;}
.client-video .modal-content {height: 43vh;}
.client-video iframe {height: 40vh;}
.client-video-img img {width: 34%;}
.client-video-content {padding: 0px 42% 0px 15px;}
.testimonial.custom-pad .custom-heading h3 {padding: 0px 110px;line-height: 46px;}
.contact-form .custom-heading h6 {padding: 0 40px;}
.service-head-text p {padding: 0 20px;}
.client-video-content p {font-size: 14px;line-height: 25px;}
.client-video-content h2 {font-size: 28px;line-height: 40px;}
.service-head-text p {font-size: 14px;line-height: 25px;}
.footer-content p {font-size: 15px;line-height: 30px;}
.teratment-list li a {font-size: 15px;}
.footer-content .contact-list li a {font-size: 15px;}
.footer-content iframe {width: 290px;}
.copyright {margin-top: 22px;border-top: 1px solid var(--c-primary-text);}
.copyright p {padding: 15px 0;}
.service-box-bottom-txt p {font-size: 14px;}
.video-modal .btn {padding: 20px 30px;}
.service-head-text::before {height: 85px;}
.service-box {min-height: 300px;margin-top: 40px;}
.service-box-top-txt {padding: 20px 10px 20px 10px;}
.service-box-bottom-txt {padding: 20px 10px 20px 10px;}
.client-img li h4 {margin-top: 12px;}
.testimonial-box {padding: 25px;}
.testimonial-box p {font-size: 14px;}
.copyright p {font-size: 12px;}
.footer-heading {font-size: 16px;}
.quote img {width: 100% !important;}
.client-video::after {height: 50px;}
.service-box-bottom-txt a {font-size: 13px;}
.service.custom-pad .custom-heading {text-align: center;}
.client-video-button {margin-top: 30px;}
.service-head-text::before {display: none;}
.service-head-text {margin-top: 15px;text-align: center;}
.footer-wrap.custom-pad {padding: 60px 0 0;}
.footer-content {margin-bottom: 30px;}
.service.custom-pad {padding-top: 60px;}
.testimonial-box p {line-height: 25px;}
.testimonial.custom-pad .owl-dots {margin-top: 40px;}
.footer-content.footer-4 {padding-left: 0px;}
.footer-header {margin-top: 25px;text-align: center;}
.footer-header ul {display: block;}
.footer-list {width: 100%;}
.footer-list.img {width: 100%;}
.footer-header ul {text-align: left;}
.footer-list li {text-align: left;display: inline-block;padding: 10px 40px 0px 0px;}
.footer-list.img {margin-bottom: 20px;}
.footer-list li a {font-size: 14px;}
.service-box-top-txt {padding: 25px 25px;}
.service-box-bottom-txt {padding: 25px 25px;}
.quote {right: 0px;}
.service-box-top-txt h4 {font-size: 16px;}
.why-choose-card-content {min-height: 280px;}
.why-choose-text p {padding: 0 20px;}
.why-choose-card-content {padding: 30px;margin-bottom: 20px;}
.why-choose-card-content h4 {font-size: 26px;padding-bottom: 30px;}
.why-choose-img img {width: 100%;position: unset;}
.why-choose-text {margin-top: 30px;}
.why-choose-text p:last-child {padding-top: 20px;}
.why-choose-card.cutom-pad {padding: 70px 0;}
.why-choose-card.cutom-pad .px-4 {padding-right: 1rem !important;padding-left: 1rem !important;}
.why-choose-text.why-ketamine-main {padding: 0 0px;}
.ketamine-chart p {padding: 0 30px;}
.why-choose-text.why-ketamine-main .custom-heading {margin-bottom: 10px;}
.faq-content .accordion-body {font-size:14px;line-height: 24px;}
.faq-accordion.custom-pad .accordion-button {padding: 1.5rem 1.25rem;}
.faq-content .accordion-button.collapsed {font-size: 17px;font-weight: 600;}
.faq-content .accordion-button {font-size: 17px;font-weight: 600;}
.price-card-content h5 {padding: 15px 0;font-size: 17px;}
.price-card-content h2 {font-size: 40px;padding: 15px 0;}
.price-card-content h6 {font-size: 16px;padding: 25px 0;}
.price-card {min-height: 360px;}
.pricing-card.custom-pad .px-4 {padding-right: 1rem !important;padding-left: 1rem !important;}
.why-choose-text.deep-tms p {padding: 0px;}
.tms-text-list {padding: 20px 40px;}
.tms-chart-content p {padding: 30px 30px;}
.contact-location-content h4 {font-size: 20px;}
.contact-location-content h4::after {height: 3px;}
.contact-location-content .location-content-list li a {font-size: 15px;}
.contant-form-section.custom-pad .form-btn {padding-top: 10px;}
.contact-location-content {min-height: 220px;}
.contact-location-content.date {margin-top: 20px;}
.contant-form-section.custom-pad .form-control {padding: 15px 20px;}
.contact-location.custom-pad .px-4 {padding-right: 1rem !important;padding-left: 1rem !important;}
.understanding-ketamine-box-content {min-height: 290px;}
.understanding-ketamine-box-content ul li {padding: 8px 0;}
.understanding-ketamine-text {padding: 0 0px 0 0;text-align: center;}
.understanding-ketamine-box-content ul {padding: 4px 20px 0;}
.understanding-ketamine-box-content h4 {font-size: 17px;padding: 16px 0;}
.short-services ul li a {font-size: 15px;}
.understanding-ketamine-text .custom-heading {margin-bottom: 20px;}
.understanding-ketamine-box {margin-top: 30px;}
.short-services {margin-top: 30px;}
/*========fdev-sg-End==========*/
}

@media (max-width: 767.98px){
.custom-pad {padding:50px 0;}
.custom-heading h6 {font-size: 14px;}
.custom-heading h3 {font-size: 24px;}
p {font-size: 14px; line-height: 24px;}
/*========fdev-dp-Start==========*/
.custom-brand img {height: 30px;}
.custom-caption h2 {font-size: 36px;line-height: 40px;}
.custom-caption p {font-size: 14px; margin: 10px 0 19px;}
.custom-banner .carousel-item img {height: 340px;}
.custom-banner .custom-button {padding: 12px 33px;}
.custom-inner-about-left-img {width: 70%;}
.custom-inner-about-left-content {width: 60%;}
.abt-tes-item p {font-size: 15px;}
.custom-gallery-about a img {height: 166px;}
.about-us-contact-right {padding: 60px 0px;}
.custom-gallery-about .container .row.imglist .col-xl-4:last-child a{margin-bottom: 0 !important;}
.banner-content-wrap h2 {font-size: 40px;}
/*========fdev-dp-End==========*/
/*========fdev-sg-Start==========*/
.client-video-img img {width: 100%;height: 22%;object-fit: cover;}
.client-video {min-height: 600px;}
.client-video-content {position: absolute;bottom: 96px;}
.client-video-content {padding: 0px 2% 0px 4px;}
.client-video::after {left: 0;}
.testimonial.custom-pad .custom-heading h3 {padding: 0px 80px;}
.video-modal .btn.btn-primary {left: 0;top: 20px;}
.service.custom-pad {padding-top: 50px;}
.contact-form .form-control {padding: 15px 20px;margin-bottom: 15px;}
.footer-content iframe {width: 100%;}
.contact-form .custom-heading h6 {line-height: 25px;font-size: 14px;}
.testimonial.custom-pad .custom-heading h3 {line-height: 38px;}
.client-video-content h2 {font-size: 24px;line-height: 36px;}
.client-video-content h2 br {display: none;}
.footer-header {margin-top: 0px;}
.footer-wrap.custom-pad {padding: 50px 0 0;}
.footer-list li a {font-size: 13px;}
.quote {right: 20px;}
.why-choose-card.cutom-pad {padding: 60px 0 40px;}
.why-choose-text p {padding: 0 0px;text-align: center;}
.why-choose-text.why-ketamine-main {text-align: center;}
.why-choose-text.why-ketamine-main .custom-heading {margin-bottom: 0px;}
.ketamine-chart p {padding: 0 0px;}
.faq-content .accordion-button.collapsed {font-size: 15px;}
.faq-content .accordion-button {font-size: 15px;}
.price-card {margin-bottom: 40px;}
.pricing-card.custom-pad {padding: 50px 0 30px;}
.price-content p {padding: 30px;}
.understanding-ketamine-box-content {min-height: 330px;}
/*========fdev-sg-End==========*/
}

@media (max-width: 575.98px){
.custom-pad {padding:40px 0;}
.custom-heading h6 {line-height: 22px;margin-top: 10px;}
.custom-button.border-btn {padding: 12px 38px;font-size: 12px;}
/*========fdev-dp-Start==========*/
.header-top-col-wrap a p {display: none;}
.header-top-col-wrap a span {width: 30px;height: 30px;background-color: var(--c-primary);color: var(--c-white);text-align: center;border-radius: 2px;line-height: 31px;}
.custom-gallery-about a img {height: auto;}
/*========fdev-dp-End==========*/
/*========fdev-sg-Start==========*/
.video-modal .btn.btn-primary {top: 30px;}
.video-modal .btn {padding: 10px 20px;}
.service.custom-pad {padding-top: 40px;}
.testimonial-box p {line-height: 22px;}
.service-head-text p {line-height: 22px;padding: 0 0px;}
.service-box {margin-top: 30px;text-align: center;}
.testimonial.custom-pad .custom-heading h3 {padding: 0px 30px;}
.contact-form .custom-heading h6 {padding: 0 0px;}
.copyright p {font-size: 12px;line-height: 18px;}
.client-video-content p {font-size: 14px;}
.testimonial-box p {padding-top: 20px;}
.footer-list li a {font-size: 14px;}
.footer-list.img a img {height: 30px;}
.footer-content p {margin-top: 36px;}
.teratment-list {margin-top: 42px;}
.footer-content .contact-list {margin-top: 42px;}
.footer-list li {padding: 10px 25px 0px 0px;}
.client-video-content {bottom: 88px;text-align: center;}
.why-choose-card-content h4 {font-size: 22px;padding-bottom: 20px;}
.why-choose-card-content p {padding: 20px 0 0px;}
.faq-content .accordion-button.collapsed {font-size: 14px;line-height: 20px;}
.faq-content .accordion-button {font-size: 14px;line-height: 20px;}
.pricing-card.custom-pad {padding: 40px 0 10px;}
.price-content p {padding: 25px;}
.price-card {padding: 30px 15px;}
.tms-chart-content p {text-align: center;}
.understanding-ketamine-box-content {min-height: 350px;}
.client-video .modal-dialog {max-width: 100%;}
.contact-location-content {min-height: 240px;}
/*========fdev-sg-End==========*/
}

@media only screen and (max-width: 480.98px) {	
.custom-heading h3 {font-size: 22px;}
/*========fdev-dp-Start==========*/
.custom-inner-about-left-img {width: 90%;}
.custom-inner-about-left-content {width: 80%;}
.custom-inner-about-left-content h4 {font-size: 16px;}
.custom-inner-about-left-content h4 span {font-size: 12px;margin-top: 4px;}
.custom-inner-about-left-img::before {left: -14px;top: -14px;border: 4px solid var(--c-primary);}
.custom-inner-about p {font-size: 14px;}
.banner-content-wrap h2 {font-size: 32px;}
.custom-inner-banner {padding: 40px 0;}
.inner-banner-breadcam li {font-size: 12px;}
/*========fdev-dp-End==========*/
/*========fdev-sg-Start==========*/
.video-modal .btn.btn-primary {top: 50px;}
.footer-content {margin-bottom: 20px;}
.testimonial.custom-pad .custom-heading h3 {padding: 0px 0px;}
.client-video-content h2 {font-size: 22px;}
.quote {right: 10px;}
.testimonial.custom-pad .owl-dots {margin-top: 0px;}
.video-modal .btn {font-size: 1rem;}
.footer-list li a {font-size: 13px;}
.client-video {min-height: 780px;}
.client-video-img img {height: 18%;}
.client-video-content {bottom: 100px;}
.testimonial.custom-pad .custom-heading h3 {line-height: 34px;}
.testimonial.custom-pad .owl-carousel .owl-item img {height: 53px;width: 53px;}
.why-choose-card-content {padding: 20px;}
.tms-text-list {padding: 10px 20px;}
.tms-chart-content p {padding: 20px 20px;}
.contact-location-content {padding: 25px;}
.location-content-list li a br {display: block;}
.understanding-ketamine-box-content {min-height:425px;}
.understanding-ketamine-box-content ul {padding: 4px 15px 0;}
.client-video {min-height: 680px;}
/*========fdev-sg-End==========*/
}
@media only screen and (max-width: 390px) {	
/*========fdev-dp-Start==========*/
.custom-brand img {height: 22px;}
.custom-about p {font-size: 15px;line-height: 26px;}
.exp-img-1 {width: 90%;}
.exp-img-1 img {height: 400px;}
.custom-caption h2 {font-size: 26px;line-height: 32px;}
.custom-caption p {font-size: 14px;line-height: 20px;}
.custom-banner .carousel-item img {height: 280px;}
.custom-expart-keta-img {width: 96%;box-shadow: 10px 10px 0 var(--c-primary);margin-bottom: 30px;}
.custom-values .custom-expart-keta-img {box-shadow: -10px 10px 0 var(--c-primary);}
/*========fdev-dp-End==========*/
/*========fdev-sg-Start==========*/
.client-video {min-height: 700px;}
/*========fdev-sg-End==========*/
}
@media only screen and (max-width: 360px) {	
/*========fdev-sg-Start==========*/
.client-video {min-height: 770px;}
/*========fdev-sg-Start==========*/
}
